@import "~bulma/sass/utilities/initial-variables";

.published-line {
	
	> span:not(:first-child) {
		display: none;
		&:before {
			border-left: 1px solid;
			content: "";
			margin: 5px;
			height: 1.1rem;
			width: 2px;
			overflow-y: wrap
		}
	}
}

.thumbnail {
	width: 150px;
	height: 112.5px;
	img {
		height: 100%;
		width: 100%;
		object-fit: cover;
	}
}

.title-link:hover {
	text-decoration: underline;
}


.item-tag {
	display: none;
}

@media screen and (min-width: $desktop) {
	.published-line {
		span:not(:first-child) {
			display: inline;
		}
	}

	.thumbnail {
		width: 300px;
		height: 225px;
	}

	.item-tag {
		display: inline;
	}
}
