@import "~bulma/sass/utilities/initial-variables";

.header-section {
	margin-bottom: 30px;
}

.published-line {
	height: 32px;
}

.published-line-item {
	line-height: 32px;

	:not(:first-child):before {
		border-left: 1px solid;
		content: "";
		margin: .4rem;
		height: 1.1rem;
		width: 2px;
	}

}
.published-line-item:not(:first-child):before {
	border-left: 1px solid;
	content: "";
	margin: .4rem;
	height: 1.1rem;
	width: 2px;
}

.share-buttons {
	display: none;
}

@media screen and (min-width: $desktop) {
	.share-buttons {
		display: flex;
		div {
			padding: 0 5px;
			:hover {
				cursor: pointer;
			}
		}
	}
}