.article-body {
  p {
    padding: 20px 0;
    font-size: 20px;
		line-height: 28px;
		white-space: pre-wrap;
  }

  img {
    width: 100%;
    margin: auto;
    display: block;
	}
	
	#heading-1 {
		font-size: 3rem;
	}

	#heading-2 {
		font-size: 2rem;
	}

	#Heading-3 {
		font-size: 1rem;
	}

	blockquote {
		width: 75%;
		margin: auto;
	}
	blockquote > p::before,
	blockquote > p::after {
		content: '"'
	}
}