@import "~bulma/sass/utilities/initial-variables";

.latest-header {
	background-color: #171717;
	color: white;
	padding: 5px 10px;
}

.twitter-tl {
	display: none;
}

@media screen and (min-width: $tablet) {
	.twitter-tl {
		display: block;
	}
}